@font-face {
  font-family: Chivo;
  font-weight: 300;
  src: url('./assets/fonts/Chivo/Chivo-Light.ttf');
}

@font-face {
  font-family: Chivo;
  src: url('./assets/fonts/Chivo/Chivo-Regular.ttf');
}

@font-face {
  font-family: Chivo;
  font-weight: 900;
  src: url('./assets/fonts/Chivo/Chivo-Black.ttf');
}

:root {
  --primary-color: hsl(157deg, 74%, 62%);
  --primary-hover: hsl(157deg, 100%, 85%);

  --input-color: hsl(225deg, 26%, 23%);

  --bg-color: hsl(224deg, 35%, 11%);

  --brands-color: hsl(225deg, 21%, 45%);
  --light-text: hsla(225deg, 40%, 83%);

  --white: hsl(0deg, 0%, 100%);
  --error-color: hsl(0, 96%, 61%);

  --fz: 16;

  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
li,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

html {
  font-family: Chivo, Helvetica, Arial, sans-serif;
}

html,
body {
  height: 100%;
}

.wrapper {
  width: 100%;
  height: 100%;
  background-image: url(./assets/mobile/image-host.jpg);
  position: relative;
}

.wrapper::after {
  content: '';
  background-color: var(--bg-color);
  position: absolute;
  opacity: 0.8;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@media (min-width: 768px) {
  .wrapper {
    background-image: revert;
    padding-top: 258px;
  }

  .wrapper::after {
    opacity: revert;
  }
}

.logo-wrapper {
  width: 100%;
  margin-bottom: 57px;
  z-index: 1;
  position: relative;
  padding-top: 92px;
}

.logo-wrapper img {
  display: block;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .logo-wrapper {
    position: absolute;
    width: 0;
    padding: 0;
    top: 50px;
    left: 39px;
  }

  .background {
    background-image: url(./assets/tablet/image-host.jpg);
    position: absolute;
    z-index: 2;
    height: 767px;
    width: 491px;
    top: 0;
    right: 0;
  }
}

@media (min-width: 1080px) {
  .logo-wrapper {
    top: 102px;
    left: 165px;
  }

  .background {
    background-image: url(./assets/desktop/image-host.jpg);
    height: 640px;
    width: 888px;
    top: 130px;
  }
}

.main-content {
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
  padding: 0 24px;
}

@media (min-width: 768px) {
  .main-content {
    margin-left: 39px;
    max-width: 635px;
    background-color: var(--bg-color);
    padding-top: 93px;
  }
}

@media (min-width: 1080px) {
  .main-content {
    max-width: 723px;
    padding-top: 88px;
    margin-left: 165px;
    margin-bottom: 130px;
  }
}

.main-content h2 {
  --font-size: 27;
  --line-height: 38;
  font-size: calc((var(--font-size) / var(--fz)) * 1rem);
  line-height: calc(var(--line-height) / var(--font-size));

  color: var(--primary-color);
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 16px;
  text-align: center;
  margin-left: -8px;
  margin-right: -8px;
}
.main-content h2 span {
  color: var(--white);
}

.main-content p {
  --font-size: 15;
  --line-height: 25;
  font-size: calc((var(--font-size) / var(--fz)) * 1rem);
  line-height: calc(var(--line-height) / var(--font-size));

  color: var(--light-text);
  font-weight: 300;
  text-align: center;
  margin-bottom: 33px;
}

@media (min-width: 768px) {
  .main-content h2 {
    --font-size: 48;
    --line-height: 56;
    text-align: left;
    margin-bottom: 31px;
  }

  .main-content p {
    --font-size: 18;
    --line-height: 28;
    max-width: 445px;
    margin-bottom: 40px;
    text-align: left;
  }
}

@media (min-width: 1080px) {
  .main-content h2 {
    --font-size: 52;
    --line-height: 62;
    margin-bottom: 31px;
  }
}

.brands {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 51px;
}

.brands img {
  display: block;
  opacity: 0.8;
}

.spotify {
  width: 56px;
}
.apple {
  width: 45px;
}
.google {
  width: 73px;
  height: 11px;
}
.pocket {
  width: 77px;
}

@media (min-width: 768px) {
  .brands {
    height: 29px;
    align-items: flex-end;
    margin-bottom: 0;
  }

  .brands * {
    width: revert;
    height: 100%;
  }

  .brands .google {
    height: 18px;
  }
}

.form-access {
  display: flex;
  flex-direction: column;
  gap: 16px;
  order: 1;
}

.error-message {
  display: none;
}

@media (min-width: 768px) {
  .form-access {
    order: revert;
    display: block;
    position: relative;
    max-width: 427px;
  }
}

.form-access > * {
  --font-size: 14;
  --line-height: 28;
  font-size: calc((var(--font-size) / var(--fz)) * 1rem);
  line-height: calc(var(--line-height) / var(--font-size));

  border-radius: 5000px;
  padding: 9px 32px;
  border: none;
}

.form-access input {
  display: block;
  background-color: var(--input-color);
  color: var(--white);
}

.form-access input::placeholder {
  color: var(--white);
  opacity: 0.5;
  font-weight: 900;
}

.form-access button {
  background-color: var(--primary-color);
  color: var(--bg-color);
  font-weight: 900;
  cursor: pointer;
  transition: background-color 400ms;
}

.form-access button:hover,
.form-access button:focus {
  background-color: var(--primary-hover);
  transition: background-color 250ms;
}

@media (min-width: 768px) {
  .form-access input {
    width: 100%;
    padding-top: 14px;
    padding-bottom: 14px;
    margin-bottom: 64px;
  }

  .form-access input:not(:focus):not(:placeholder-shown):invalid ~ .error-message {
    display: block;
    position: absolute;
    top: 52px;
    left: 0;
    color: var(--error-color);
    font-size: calc((12 / var(--fz)) * 1rem);
  }

  .form-access button {
    position: absolute;
    top: 5px;
    right: 5px;
  }
}

.pattern-dots {
  display: none;
}

@media (min-width: 768px) {
  .pattern-dots {
    display: block;
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 30px;
    height: 104px;
  }
}

@media (min-width: 1080px) {
  .pattern-dots {
    left: revert;
    right: 0;
    bottom: 124px;
    height: 104px;
  }
}
